.plastic/f7c93aca-1b39-410b-8c1b-cecb3567ab6c filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
.plastic/7c97f8cd-f994-43d6-b432-47b0f26d4d9e filter=lfs diff=lfs merge=lfs -text
.plastic/e90df2a5-47bb-407c-92de-dbb57caaa62d filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.wktree filter=lfs diff=lfs merge=lfs -text
.plastic/b105e724-de99-4ff0-8e89-e36186e57be1 filter=lfs diff=lfs merge=lfs -text
*.changes filter=lfs diff=lfs merge=lfs -text
.plastic/9a6c847b-1cec-4eff-ab1f-d73df68fe248 filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
.plastic/d10a4fa3-5bd6-4552-8616-c270bffbc74e filter=lfs diff=lfs merge=lfs -text
.plastic/7c2ce7eb-d0aa-4de4-bc25-9631692daee0 filter=lfs diff=lfs merge=lfs -text
.plastic/e024aacf-c2f4-4e1e-94db-a38ef5af6806 filter=lfs diff=lfs merge=lfs -text
.plastic/e7cfe4cb-36b4-4f58-b5ee-d5a6dace3af6 filter=lfs diff=lfs merge=lfs -text
.plastic/2ea5be35-8b43-4782-82c9-e7dbb527c7a7 filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
.plastic/f2c743a7-6a12-4c62-8f2b-373e796363ec filter=lfs diff=lfs merge=lfs -text
.plastic/1542a502-c8f3-46a6-8507-b620971413d5 filter=lfs diff=lfs merge=lfs -text
.plastic/c7e06a32-b169-4f03-a2eb-a17cb9b41843 filter=lfs diff=lfs merge=lfs -text
.plastic/2134f487-b6f9-4e9b-91fe-f98dfb753602 filter=lfs diff=lfs merge=lfs -text
.plastic/facdca20-0c1f-40ec-ac8e-8b565df99aa8 filter=lfs diff=lfs merge=lfs -text
.plastic/49491d32-a638-4437-ac7b-ac5a3bbf8d24 filter=lfs diff=lfs merge=lfs -text
.plastic/8beef83e-89ee-48cd-8589-bb216e38ee82 filter=lfs diff=lfs merge=lfs -text
.plastic/31f9f95c-0ef7-4636-ac67-42c4d735c48a filter=lfs diff=lfs merge=lfs -text
.plastic/a65dea8e-93e2-437d-af80-35206f78c0be filter=lfs diff=lfs merge=lfs -text
.plastic/64db4d4d-a391-4e1e-a968-6fbdcd3a4cee filter=lfs diff=lfs merge=lfs -text
.plastic/e078384c-d32c-4e61-8fcc-bba71c4e2d59 filter=lfs diff=lfs merge=lfs -text
.plastic/8540e57c-ce52-4e47-b6cc-25a6bfd3bba0 filter=lfs diff=lfs merge=lfs -text
.plastic/96b7655d-5218-4050-9b77-7cc1f02b596a filter=lfs diff=lfs merge=lfs -text
.plastic/23b1aa63-ea7e-4aca-a81d-922b21e470ee filter=lfs diff=lfs merge=lfs -text
.plastic/625ea386-e5a5-4cbc-895c-d52ac9df4d12 filter=lfs diff=lfs merge=lfs -text
.plastic/625f21b1-3394-4a96-89a4-dc94c07d1511 filter=lfs diff=lfs merge=lfs -text
.plastic/d2809b61-f8db-4af2-b3ca-d354b576d1e2 filter=lfs diff=lfs merge=lfs -text
.plastic/a9d437a0-2a21-4427-ac1d-bd316e40b4cf filter=lfs diff=lfs merge=lfs -text
