*.changes filter=lfs diff=lfs merge=lfs -text
*.wktree filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
.plastic/d10a4fa3-5bd6-4552-8616-c270bffbc74e filter=lfs diff=lfs merge=lfs -text
.plastic/f7c93aca-1b39-410b-8c1b-cecb3567ab6c filter=lfs diff=lfs merge=lfs -text
.plastic/e90df2a5-47bb-407c-92de-dbb57caaa62d filter=lfs diff=lfs merge=lfs -text
.plastic/7c97f8cd-f994-43d6-b432-47b0f26d4d9e filter=lfs diff=lfs merge=lfs -text
.plastic/e7cfe4cb-36b4-4f58-b5ee-d5a6dace3af6 filter=lfs diff=lfs merge=lfs -text
.plastic/7c2ce7eb-d0aa-4de4-bc25-9631692daee0 filter=lfs diff=lfs merge=lfs -text
.plastic/2ea5be35-8b43-4782-82c9-e7dbb527c7a7 filter=lfs diff=lfs merge=lfs -text
.plastic/9a6c847b-1cec-4eff-ab1f-d73df68fe248 filter=lfs diff=lfs merge=lfs -text
.plastic/b105e724-de99-4ff0-8e89-e36186e57be1 filter=lfs diff=lfs merge=lfs -text
.plastic/e024aacf-c2f4-4e1e-94db-a38ef5af6806 filter=lfs diff=lfs merge=lfs -text
